.quizz__container {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.quizz__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

.quizz__questions {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4224d9;
  border-radius: 8px;
  background-color: #654ED2;
  width: 100%;
  height: 200px;
  font-size: 1.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
}

.quizz__options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-inline: auto;
  margin-bottom: 20px;
}

.btn-option {
  background-color: transparent;
  border: 1px solid #18AB29;
  border-radius: 8px;
  width: 50%;
  display: inline-block;
  cursor: pointer;
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2F6627;
}

.btn-option:hover {
  background-color: #5CBF2A;
}

.btn-option:active {
  position: relative;
  top: 1px;
}

.quizz__results {
  width: 100%;
  height: 350px;
  background-color: #210239;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


